<!DOCTYPE html>
<html>
    <head>
        <title>Create a post</title>
        <link rel="stylesheet" type="text/css" href="./css/pages_with_content.css">
    </head>
    <body>
        <div class="page">
            {{>header details= this}}
            <div class="lower_body">
                <div class="nav_bar">
                    <a href="home">Home</a><br>
                    <a id="trending">Trending</a>
                </div>
                <div class="main_body post_creation">
                    <div class="feed create_post_feed">
                        <div class="white_box create_post_whitebox">
                            <form id="create_post" method="post" class="flex_col">
                                <div class="flex_row center_align">
                                    <a href="/profile_page?userName={{userName}}"><img class="profile_picture_bubble" id ="{{uniqueId userName}}" ></a>
                                    <div class="user_identity">
                                        {{firstName}} {{lastName}}
                                        <p class="user_name">@{{userName}}</p>
                                    </div>  
                                </div>
                                <hr>
                                <textarea placeholder="title" id="title" name="title" required></textarea>
                                <textarea placeholder="content" id="content" name="content" ></textarea>
                                <input type="hidden" id="userName" name="userName" value="{{userName}}">
                                <input type="submit" value="Post" class="post_button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>