<!DOCTYPE html>
<html>
    <head>
        <title>Create a post</title>
        <link rel="stylesheet" type="text/css" href="./css/pages_with_content.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/feed.js"></script>
    </head>
    <body>
        <div class="page">
            {{>header details=this}}
            <div class="lower_body">
                <div class="nav_bar">
                    <a href="home.hbs">Home</a><br>
                    <a href="maintenance_page.html">Trending</a>
                </div>
                <div class="main_body post_creation">
                    <div class="feed create_post_feed">
                        <div class="white_box create_post_whitebox">
                            <form id="edit_post" method="post" class="flex_col">
                                <div class="flex_row center_align">
                                    <div class="profile_picture_bubble"id ="{{uniqueId userName}}" ></div>
                                    <div class="user_identity">
                                        {{firstName}} {{lastName}}
                                        <p class="user_name">@{{userName}}</p>
                                    </div>  
                                </div>
                                <hr>
                                <input type="hidden" id="id" name="id" value="{{id}}">
                                <input type="hidden" id="type" name ="type" value = "{{type}}">
                                {{#if post}}
                                <textarea placeholder="{{title}}" id="title" name="title" value = "{{title}}" ></textarea>
                                <textarea placeholder="{{content}}" id="content" name="content" value="{{content}}" ></textarea>
                                {{else}}
                                <textarea placeholder="{{content}}" id="content" name="content" value="{{content}}"></textarea>
                                {{/if}}
                                <input type="submit" value="Post" class="post_button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>