<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/manipulate_account.css">
        <script type="text/javascript" src="../scripts/account_validation.js"></script>
        <title>Edit Profile</title>
    </head>
    <body>
        <div class="content">
            {{>signin_header title="Make Some Changes" link='profile_page?username={{userName}}'}}
            <div class ="mainForm">
                <form id ="edit_profile_form" method ='post'>
                    <label for ="first_name">First Name</label><br>
                    <input type ="text" id ="first_name" name ="first_name" placeholder="{{firstName}}" value="{{firstName}}"><br>
                    <p id="warning_firstName" class = "warning"></p>
                    <label for ="last_name">Last name</label><br>
                    <input type ="text" id ="last_name" name ="last_name" placeholder="{{lastName}}" value="{{lastName}}"><br>
                    <p id="warning_lastName" class = "warning"></p>
                    <label for="profile_picture">Profile Picture</label><br>
                    <input type="file" id ="profile_picture" name ="profile_picture" accept="image/*" ><br>
                    <img id="prof_pic"  >
                    <div id="prof_pic_br"><br></div>
                    <label for="cover_photo">Cover Photo</label><br>
                    <input type="file" id ="cover_photo" name ="cover_photo" accept="image/*"><br>
                    <img id="cov_pic"  >
                    <div id="cov_pic_br"><br></div>
                    <label for="bio">About Yourself</label><br>
                    <textarea id="bio" name="bio" rows="20" cols="100" {{#if aboutMe}} placeholder="{{aboutMe}}" value="{{aboutMe}}" {{/if}}></textarea><br>
                    <label for="contact_number">Contact Number</label><br>
                    <input type="text" id="contact_number" name="contact_number"><br>
                    <p id="warning_contact_number" class = "warning"></p>
                
                    <div class="center">
                        <input type ="submit" value ="SAVE"><br>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>