
<div class="reply_container" id="{{id}}">
    <div class="posts_header">
        <div class="profile_picture_bubble"> </div>
        <span class="user_name">{{author}}</span>
    </div>
    <p>{{content}}</p>
    <div class="posts_footer">
        <a class="upvote_button" id="upvote_reply_{{_id}}">
            <div class="upvote_icon"></div>
            <div class="actions">upvote</div>
        </a>
        <a class="downvote_button" id="downvote_reply_{{_id}}">
            <div class="downvote_icon"></div>
            <div class="actions">downvote</div>
        </a>
      
    </div>
</div>