
<div class="reply_container" id="{{_id}}">
    <div class="posts_header">
        <div class="profile_picture_bubble" id ="{{uniqueId userName}}" > </div>
        <span class="user_name">{{author}}</span>

        {{#if user}}
         <div class= "manipulate_dropdown"> <img class="image_option" src = "images/options.svg">
            <div class="manipulate_dropdown_content">
                <a class="edit_content" id = "edit_post_{{_id}}" href="edit_post?content={{content}}&type=reply&id={{_id}}">edit</a>
                <div class="delete_reply delete_button" id = "delete_reply_{{_id}}">delete</div>
            </div>
        </div>
        {{/if}}
    </div>
    <p>{{content}}</p>
    <div class="posts_footer">
        <a class="upvote_button" id="upvote_reply_{{_id}}">
            <div class="upvote_icon"></div>
            <div class="actions">upvote</div>
        </a>
        <a class="downvote_button" id="downvote_reply_{{_id}}">
            <div class="downvote_icon"></div>
            <div class="actions">downvote</div>
        </a>
      
    </div>
</div>